body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Figtree', sans-serif;
    background-color: #f7d14a;
    margin: 0;
}

.container {
    background-color: #ffffff;
    width: 350px;
    min-height: 490px;
    padding: 20px;
    border-radius: 25px;
    text-align: left;
    box-shadow: 10px 10px 0 #000000;
    border: 2px solid #000000;
}

h2 {
    background-color: #f7c94a;
    font-family: 'Figtree', sans-serif;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 0.9rem;
    margin-bottom: 12px;
}

h1 {
    font-family: 'Figtree', sans-serif;
    font-size: 1.6rem;
    font-weight: 1000;

}

.data-publicacao {
    font-family: 'Figtree', sans-serif;
    font-size: 1rem;
    color: rgb(82, 63, 37);
    margin-bottom: 8px;
}

p {
    font-family: 'Arial', sans-serif;
    font-size: 1rem;
    color: rgba(139, 110, 75, 0.829);
    font-weight: 500;
}

.perfil {
    display: flex;
    align-items: center;
    margin-top: 18px;
    margin-left: 0;
}

.perfil-icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
}

.autor {
    font-family: 'Figtree', sans-serif;
    font-size: 0.9rem;
    font-weight: 900;
    color: #000000;
}